apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: gthulhu-api-local
  labels:
    app: mongo
spec:
  ports:
    - port: 27017
      targetPort: 27017
  clusterIP: None 
  selector:
    app: mongo