apiVersion: v1
kind: ServiceAccount
metadata:
  name: manager
  namespace: gthulhu-api-local
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager
rules:
  - apiGroups: [""]
    resources: ["pods", "namespaces"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: manager
subjects:
  - kind: ServiceAccount
    name: manager
    namespace: gthulhu-api-local
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: gthulhu-api-local
  name: manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: manager
  template:
    metadata:
      labels:
        app: manager
    spec:
      serviceAccountName: manager
      containers:
        - name: manager
          image: gthulhu-api:local
          command:
            - /app/main
            - manager
          imagePullPolicy: IfNotPresent
          env:
            - name: MANAGER_SERVER_HOST
              value: ":8080"
            - name: MANAGER_LOGGING_LEVEL
              value: "info"
            - name: MANAGER_MONGODB_HOST
              value: "mongo-0.mongo.gthulhu-api-local.svc.cluster.local"
            - name: MANAGER_MONGODB_PORT
              value: "27017"
            - name: MANAGER_MONGODB_DATABASE
              value: "manager"
            - name: MANAGER_MONGODB_CA_PEM
              value: ""
            - name: MANAGER_K8S_IN_CLUSTER
              value: "true"
            - name: MANAGER_MONGODB_USER
              valueFrom:
                secretKeyRef:
                  name: mongo-auth
                  key: MONGO_INITDB_ROOT_USERNAME
            - name: MANAGER_MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-auth
                  key: MONGO_INITDB_ROOT_PASSWORD
            - name: MANAGER_MONGODB_OPTIONS
              value: "authSource=admin&tls=false&directConnection=true"
          ports:
            - name: http
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
